:root {
    /*COLORS*/
    --index_bg: #5C251F;
    --index_secondaryBg: #946E46;
    --index_fontColor: #F1A63C;
    --index_fontSecondColor: #C78F44;
    --index_details: #E15656;

    /*FONTS*/
    --generalTitleFont: 'Metal Mania', Impact, Charcoal, sans-serif;
    --generalTextFont: 'IM Fell French Canon', serif;
}

html {
    width: 100%;
    background-image: url(../gen_images/background_texture.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

body {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    font-family: var(--generalTextFont);
    color: var(--index_fontSecondColor);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--generalTitleFont);
    color: var(--index_fontColor);
}
    .main_title {
        text-align: center;
        font-size: 3rem;
        letter-spacing: 10px;
    }
    .subtitle {
        margin-top: 10px;
        font-size: 1.5rem;
        letter-spacing: 5px;
    }

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
    .narration {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        margin-bottom: 20px;
    }
        .narration img {
            opacity: 0.7;
            border-radius: 30px;
        }
    #open_the_door {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;
    }
        #open_the_door img {
            opacity: 0.7;
            border-radius: 30px;
        }

    .input_button {
            width: 70%;
            height: 30px;
            margin: 10px auto;
            background-color: var(--index_secondaryBg);
            color: var(--index_bg);
            font-family: var(--generalTitleFont);
            font-size: 20px;
            text-decoration: none;
            text-align: center;
            transition: all 100ms ease-in;
        }
            .input_button:hover {
                color: var(--index_fontColor);
                background-color: var(--index_bg);
            }

footer {
    margin-top: 0;
    text-align: center;
}