:root {
    /*COLORS*/
    --index_bg: #5C251F;
    --index_secondaryBg: #946E46;
    --index_fontColor: #F1A63C;
    --index_fontSecondColor: #C78F44;
    --index_details: #E15656;

    /*FONTS*/
    --generalTitleFont: 'Metal Mania', Impact, Charcoal, sans-serif;
    --generalTextFont: 'IM Fell French Canon', serif;
}

html {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-image: url("gen_images/background_texture.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

body {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: min(90%, 1024px);
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    gap: 20px;
    font-family: var(--generalTextFont);
    color: var(--index_fontSecondColor);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--generalTitleFont);
    color: var(--index_fontColor);
}
    .main_title {
        text-align: center;
        font-size: 3rem;
        letter-spacing: 10px;
    }
    .subtitle {
        margin-top: 10px;
        font-size: 1.5rem;
        letter-spacing: 5px;
    }

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
    main form {
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 40px;
        font-size: 22px;
        border: solid 3px var(--index_secondaryBg);
        border-radius: 15px;
    }
        #name_form {
            text-align: center;
            font-family: var(--generalTextFont);
            font-size: 20px;
            background-color: var(--index_bg);
            color: var(--index_fontSecondColor);
        }
        .input_button {
            width: 70%;
            height: 30px;
            margin: 0 auto;
            background-color: var(--index_secondaryBg);
            color: var(--index_bg);
            font-family: var(--generalTitleFont);
            font-size: 20px;
            text-decoration: none;
            text-align: center;
            transition: all 100ms ease-in;
        }
            .input_button:hover {
                color: var(--index_fontColor);
                background-color: var(--index_bg);
            }

footer {
    margin-top: 0;
    text-align: center;
}
@media screen and (max-width: 768px) {
    body {
    height: auto;
    }

    header .main_title,
    header .subtitle {
        text-align: center;
    }

    main h3 {
        text-align: center;
        font-size: 2rem;
    }

    main form {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        font-size: 30px;
    }
}