:root {
    /*COLORS*/
    --index_bg: #5C251F;
    --index_secondaryBg: #946E46;
    --index_fontColor: #F1A63C;
    --index_fontSecondColor: #C78F44;
    --index_details: #E15656;

    /*FONTS*/
    --generalTitleFont: 'Metal Mania', Impact, Charcoal, sans-serif;
    --generalTextFont: 'IM Fell French Canon', serif;
}

html {
    width: 100%;
    background-image: url(../gen_images/background_texture.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

body {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    gap: 50px;
    font-family: var(--generalTextFont);
    color: var(--index_fontSecondColor);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--generalTitleFont);
    color: var(--index_fontColor);
}
    .main_title {
        font-size: 3rem;
        letter-spacing: 10px;
    }
    .subtitle {
        margin-top: 10px;
        font-size: 1.5rem;
        letter-spacing: 5px;
    }

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
    main aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .general_form_display {
        display:flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        padding: 40px;
        font-size: 22px;
        border: solid 3px var(--index_secondaryBg);
        border-radius: 15px;
    }
        main form input {
            width: 10%;
            font-family: var(--generalTextFont);
            font-size: 22px;
        }

        .dropdown_list {
            width: 200px;
            font-family: var(--generalTextFont);
            text-align: center;
        }
    
    .input_button {
        width: 40%;
        height: 30px;
        margin: 20px auto;
        background-color: var(--index_secondaryBg);
        color: var(--index_bg);
        font-family: var(--generalTitleFont);
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        transition: all 100ms ease-in;
    }
        .input_button:hover {
            color: var(--index_fontColor);
            background-color: var(--index_bg);
        }

footer {
    text-align: center;
}
